* {
    --color_blue: #5584AC;
    --color_green: #8CC04D;
}

body {
    margin: 0;
    background-color: var(--color_blue);
}

a {
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 10vh;
}

nav a {
    color: rgba(255,255,255,0.5);
    font-size: 40px;
}

nav img {
    height: 10vh;
}

.loupe {
    height: 50px;
}

.loupe:hover {
    cursor: pointer;
}

.navlink {
    display: flex;
    gap: 100px;
}

.search {
    display: flex;
    align-items: center;
}

#navsearch {
    color: white;
    height: 60%;
    width: 500px;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    font-size: 30px;
    border: 1px solid white;
    margin-left: -20%;
}

.dnone {
    display: none;
}

.deco {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10%;
    right: 2.5%;
    background-color: black;
    border: 1px solid var(--color_green);
    height: 100px;
}

.deco input {
    background-color: #5584AC;
    border: 1px solid black;
    color: white;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-info p {
    font-size: 20px;
    color: white;
}

.user-img {
    border: 2px solid var(--color_blue);
    border-radius: 50%;
    cursor: pointer;
}

nav h2 {
    color: var(--color_blue);
    font-size: 45px;
    font-weight: bold;
}

.active {
    color: white;
}

main {
    min-height: 75vh;
}

.div-top {
    display: flex;
    justify-content: space-around;
    background-color: var(--color_blue);
    height: 30%;
    padding-top: 2%;
}

.div-top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.div-top-left h2 {
    font-size: 50px;
    margin-bottom: 0;
}

.div-top-left p {
    font-weight: bold;
    font-size: 20px;
    width: 80%;
}

.but-candi {
    color: var(--color_blue);
    background-color: white;
    border: 1px solid var(--color_blue);
    box-shadow: 0px 4px 10px 0px rgba(39, 39, 39, 0.5);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.but-form {
    color: white;
    background-color: var(--color_blue);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(39, 39, 39, 0.5);
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    font-size: 20px;
}

.div-middle {
    background-color: black;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.middle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 20%;
}

.middle-card h4 {
    font-weight: bold;
    margin: 0;
}

.middle-card p {
    margin-top: 0;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_blue);
    height: 40%;
    color: white;
    font-size: 30px;
}

.slider p {
    margin-top: -20px;
}

.previous, .next {
    margin: 0px 20px 0px 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    background-color: black;
    font-size: 30px;
    padding-top: 30px;
}

footer p {
    color: white;
}

footer a {
    display: flex;
    flex-direction: column;
}

footer img {
    background-color: var(--color_blue);
    height: 50px;
    margin: -30px;
    border-radius: 5px;
}